{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Quienes somos</title>
  <link rel="stylesheet" href="{% static 'appdeportes/estilos.css' %}">
</head>
<body>

  <header>
 <h1 class="titulo">¿Para qué sirve esta página?</h1>
  </header>
 
  <main>
  <Algunas class="descripcion">Esta aplicación permite visualizar una lista de clubes y ver los detalles de cada uno. Algunas de esas características son:</p>

  <div class="lista-detalles">
  <p>+La cantidad de hinchas aproximadamente (pues no existe un número exacto)</p>
  <p>+Cantidad de copas, títulos, veces que ganó el torneo, etc</p>
  <p>+Clásico rival y cuantos partidos le lleva</p>
  <p>+Apodo del club, los hinchas y su estadio</p>
  <p>+Edad del mismo (es decir, en qué año se fundó)</p>
  <p>+Está de más decir que también habrá una foto de cada escudo</p>

  </div>

  <div class="botonera">
    <a href="{% url 'inicio' %}" class="boton">Volver al inicio 🏠</a>
    <a href="{% url 'lista_equipos' %}"  class="boton">Lista de Equipos ⚽</a>
  </div>

  </main>
  </body>
</html>
