{% extends 'base.html' %}

{% block title %}Acerca de mí{% endblock %}

{% block content %}
<header>
  <h1 class="titulo">Descripción de los autores</h1>
</header>

  <div class="about-container">
    <img src="/media/Agustin.jpg" alt="Foto de Agustin" class="about-image">
    <div class="about-text">
        <h2>Agustín Mastriani</h2>
        <p> Gracias por visitar mi página personal. Soy un desarrollador web en constante aprendizaje y apasionado por la tecnología, la creatividad y el diseño. </p>
    </div>
</div>
<div class="about-container">
  <img src="/media/Pepo.jpg" alt="Foto de Pepo" class="about-image">
  <div class="about-text">
      <h2>Pedro Moretti</h2>
        <p>Aprendiz en diseño de redes, pero con un gran futuro. Pasión por la creatividad y el diseño. </p>
  </div>
</div>


{% endblock %}
