{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Equipos</title>
  <link rel="stylesheet" href="{% static 'appdeportes/estilos.css' %}">
</head>
<body>
  
  <header>
    <!-- Título arriba y centrado -->
    <h2 class="titulo">Lista de Equipos</h2>
  </header>
  
  <main>

  <!-- Botones de equipos centrados debajo del título -->
  <div class="botonera">
    {% for equipo in equipos %}
      <a href="{% url 'detalle_equipo' equipo.pk %}" class="boton">{{ equipo.nombre }}</a>
    {% empty %}
      <p>No hay equipos disponibles.</p>
    {% endfor %}
  </div>

  <!-- Botón de inicio -->
  <div class="botonera">
    <a href="{% url 'inicio' %}" class="boton">Inicio</a>
    <a href="{% url 'acerca' %}" class="boton">¿Quienes somos?</a>
  </div>

  </main>
</body>
</html>
