{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Equipos</title>
  <link rel="stylesheet" href="{% static 'appdeportes/estilos.css' %}">
</head>
<body>
  
  <header>
    <!-- Título arriba y centrado -->
    <h2 class="titulo">Lista de Equipos</h2>
  </header>
  
  <main>

  <!-- Botones de equipos centrados debajo del título -->
  <div class="contenedor-equipos">
    {% for equipo in equipos %}
      <div class="recuadro-equipo">
        <p class="nombre-equipo">{{ equipo.nombre }}</p>
        <a href="{% url 'detalle_equipo' equipo.pk %}" class="boton">Ver equipo</a>
      </div>
    {% empty %}
      <p>No hay equipos disponibles.</p>
    {% endfor %}
  </div>
  

  <!-- Botón de inicio -->
  <div class="botonera">
    <a href="{% url 'inicio' %}" class="boton">Volver al inicio 🏠</a>
    <a href="{% url 'acerca' %}" class="boton">¿Quienes somos? ❓</a>
  </div>

  </main>
</body>
</html>
