{% extends 'base.html' %}
{% load static %}

{% block title %}Equipos{% endblock %}

{% block content %}
<header>
  <h2 class="titulo">Lista de Equipos 🛡️</h2>
</header>

<section class="contenedor-equipos">
  {% for equipo in equipos %}
    <article class="recuadro-equipo">

      <a href="{% url 'detalle_equipo' equipo.pk %}" class="nombre-equipo">

        {% if equipo.escudo %}
          <img src="{{ equipo.escudo.url }}" 
               alt="Escudo de {{ equipo.nombre }}" 
               class="escudo-mini" width="30" height="30">
        {% else %}
          <img src="{% static 'appdeportes/sin_escudo.png' %}" 
               alt="Sin escudo" 
               class="escudo-mini" width="30" height="30">
        {% endif %}

        {{ equipo.nombre }}

      </a>

    </article>
  {% empty %}
    <p>No hay equipos disponibles.</p>
  {% endfor %}
</section>

{% endblock %}
