{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<header>
  <h1 class="titulo">¡Bienvenido a esta página!</h1>
</header>

<section class="recuadro-info">
  <p class="descripcion">
    Esta aplicación permite visualizar una lista de clubes y ver los detalles de cada uno.
    Algunas de esas características son:
  </p>

  <ul class="lista-detalles">
    <li>La cantidad de hinchas aproximadamente (no existe un número exacto)</li>
    <li>Cantidad de copas, títulos, veces que ganó el torneo, etc.</li>
    <li>Clásico rival y cuántos partidos le lleva</li>
    <li>Apodo del club, los hinchas y su estadio</li>
    <li>Año de fundación</li>
    <li>Foto del escudo y del estadio</li>
    <li>Ubicación y mapa del estadio</li>
  </ul>
</section>

{% endblock %}
